<h1>Angular 10 FormData (multipart/data-form) Example</h1>
<div>
  <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">      
    <div>
      <input type="file" name="content" (change)="onFileSelect($event)" />
    </div>
    <div>
      <button type="submit">Upload</button>
    </div>
  </form>
</div>
<div>
  <form [formGroup] = "multipleUploadForm" (ngSubmit)="onSubmitMultiple()" enctype="multipart/form-data">      
    <div>
      <input type="file" multiple name="multiple" (change)="onFileMultipleSelect($event)" />
    </div>
    <div>
      <button type="submit">Upload multiple</button>
    </div>
  </form>
  {{ multipleUploadForm.value | json }}
</div>